.menu {
    height: 80px;
    // border: 2px solid $secondary;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        height: 80px;
        min-width: 348px;
        display: flex;
        align-items: center;

        img{
            display: block;
            padding: 20px 0;
            height: 100%;
        }
    }

    &__links{
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        a{
            padding: 10px 30px;

            &:hover{
                color: $secondary;
            }
        }
    }

    &-cart{
        display: flex;
        height: 100%;
        align-items: center;

        &__icon{
            margin-right: 1rem;

            i:hover{
                color:$secondary;
            }

            .badge{
                display: inline-block;
                background: $secondary;
                border-radius: 50%;
            }
        }

        &__user{
            margin-right: 1rem;
        }

        &__sign-in{
            @include center;
            background: $secondary;
            padding: 5px 30px;
            border-radius: $border-radius;
            color: $white;
        }

    }

}