// Color 
$purple : #662D90;
$orange : #FFBF00;
$white:    #fff !default;

$primary: $purple;
$secondary: $orange;

$bg-primary : $white;
$bg-secondary: #EFECE3;
$bg-grey: #F2F2F2;


$border-radius: 22px;

$enable-responsive-font-sizes : true;