.social {
    position: relative;

    &__image{
        width: 170px;
    }
    &__overlay{
        @include center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(black, 0.5);

        img{
            width: 50px;
        }   
    }
}