.about{
    padding: 150px 0;
    background: $bg-secondary;
    
    .card{
        @include center;
        width: 100%;
        text-align: center;

        &-subtitle{
            font-size: 1.5rem;
            font-weight: 400;
        }

        &-body{
            img{
                height: 12px;
                margin: 1rem;
            }
        }

        &-content{
            padding: 2rem 4rem;
            img{
                height: 150px;
            }

            h4{
                margin-top: 2rem;
            }

            p{
                font-size: 1.2rem;
                font-weight: 100;
            }
        }
    }
}