.card{
    border:none;
    &-header{
        overflow: hidden;
        background: $bg-primary;
        border-bottom: 0;
      
        &:hover img{
            transform: scale(1.1);
        }
    }

    &-img-top{
        transition: transform 0.5s;
        // border-radius: 0;
    }
}

.sauce-card {
    flex: 1 0 13rem;
    box-sizing: border-box;
    margin: 0.5rem;
    border-radius: $custom-card-border-radius;

    .card-header {
        border-radius: $custom-card-border-radius $custom-card-border-radius 0 0;
    }

    @media screen and (min-width: 575px) {
        max-width: calc(50% -  1em);
    }
    
    @media screen and (min-width: 768px) {
        max-width: calc(33% - 1em);
    }

    @media screen and (min-width: 992px) {
        max-width: calc(20% - 1em);
    }
}




.food-card {
    flex: 1 0 16rem;
    box-sizing: border-box;
    margin: 1rem;
    border-radius: $custom-card-border-radius;
    display: flex;

    .card-header {
        border-radius: $custom-card-border-radius $custom-card-border-radius 0 0;
        flex-grow: 1;

        .card-img-top{
            object-fit: cover;
            height: 100%;
        }
    }

    .card-body{
        flex-grow: 0;
    }
    @media screen and (min-width: 575px) {
        max-width: calc(50% -  2em);
    }
    
    @media screen and (min-width: 992px) {
        max-width: calc(25% - 2em);
    }
}

.custom-checkbox{
    // visibility: hidden;
    height: 0;
    width: 0;
    &:checked + .card{
        background: $bg-teal;
    }

    &:checked + .card .card-header{
        background: $bg-teal;
    }

    &:checked + .card .checkbox-card__checkmark{
        opacity: 1;
        animation: pop 0.3s;
    }
}


.checkbox-card{
    @extend .card;
    position: relative;
    transition: background 0.3s;

    &__header{
        @extend .card-header;
        transition: background 0.3s;
        position: relative;

        img{
            @extend .card-img-top;
            border-radius: $custom-card-border-radius;
        }
    }

    &__body{
        @extend .card-body;
        text-align: center;
    }

      
    &:hover img{
        transform: scale(1);
    }

    &__checkmark{
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $bg-grey;
        opacity: 0;
    }
}


.centered {
    margin: 0 auto;
    padding: 0 2rem;
}

@keyframes pop{
    0%{
        transform: translate(-50%, -50%) scale(0);
    }

    50%{
        transform: translate(-50%, -50%) scale(1.2);
    }

    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}
