.card{
    border:none;
    &-header{
        overflow: hidden;
        background: $bg-primary;
        border-bottom: 0;

        &:hover img{
            transform: scale(1.1);
        }
    }

    &-img-top{
        transition: transform 0.5s;
    }
}