.hero{
    // background: url("../../images/header@2x.png");
    height: calc(100vh - 100px);
    background-size: cover;
    @include center;

    &__text{
        text-align: center;
        color: $white;
    }

    &__title{
        font-size: 3.5rem;
        font-weight: 400;
        
        @media (max-width: 768px){
            font-size: 3rem;
        }

        @media (max-width: 575px){
            font-size: 2rem;
        }

        span{
            color: $secondary;
        }
    }

    &__subtitle{
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;

        @media (max-width: 768px){
            font-size: 1.2rem;
            margin-bottom: 1.2;
        }

        @media (max-width: 768px){
            font-size: 1rem;
            margin-bottom: 1.2;
        }
    }

    &__button{
        font-size: 1.3rem;
        padding: 10px 30px;

        @media(max-width: 575px){
            font-size: 1rem;
            padding: 5px 15px;
        }
    }
}