.hero{
    // background: url("../../images/header@2x.png");
    height: calc(100vh - 100px);
    background-size: cover;
    @include center;

    &__text{
        text-align: center;
        color: $white;
    }

    &__title{
        font-size: 4.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        
        @media (max-width: 768px){
            font-size: 4rem;
        }

        span{
            color: $secondary;
        }
    }

    &__subtitle{
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-weight: 600;

        @media (max-width: 768px){
            font-size: 1.4rem;
            margin-bottom: 1.2;
        }

        
        @media (max-width: 575px){
            font-size: 1.2rem;
            margin-bottom: 1.2;
        }
    }

    &__button{
        font-size: 1.3rem;
        padding: 10px 36px;
        border-radius: 22px;
        font-weight: 600;

        @media(max-width: 575px){
            font-size: 1rem;
            padding: 8px 25px;
        }
    }
}